@import '../constant.css';
.board{

}
.tiles{
    display: grid;
    grid-template-columns: repeat(8, var(--tile-size));
    grid-template-rows: repeat(8, var(--tile-size));
    width: calc(8 * var(--tile-size));
    height: calc(8 * var(--tile-size));
}
.light-color{
    /* background-color: red; */
    background-color: var(--tile-light-color);
}
.dark-color{
    /* background-color: green; */
    background-color: var(--tile-dark-color);
}