:root {
    --tile-size : 100px;
    --tile-light-color: #d1d1d1;
    --tile-dark-color: #006e12;
    --bg-color: #fdfdfd;
}
@media all and (max-width : 540px){
    :root{
        --tile-size : 50px;
    }
}